<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<RollingFile name="RollingFile" fileName="file/loggers.txt"
					 filePattern="logs/app-%d{MM-dd-yyyy}.log.gz"
					 ignoreExceptions="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers >
		<Root level="trace">
			<AppenderRef ref="RollingFile" level="error"/>
			<AppenderRef ref="Console" level="trace"/>
		</Root>
	</Loggers>
</Configuration>